[submodule "qemu"]
	path = qemu
	url = https://github.com/ossim-project/qemu.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/ossim-project/kernel.git
[submodule "workloads"]
	path = workloads
	url = https://github.com/ossim-project/workloads.git
[submodule "libossim"]
	path = libossim
	url = https://github.com/ossim-project/libossim.git
